/*Color Combination 
#f0000d - red, #eff2f7 - white, #d6bcaf - light brown, #957568 - brown, #5b453a - dark brown
https://colorpalettes.net/color-palette-862/
#ff3000 - red
*/

body {
    background-color: #FFF5EF;
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40%;
}

header a {
    margin-top: auto;
    margin-bottom: auto;
}

header a #logo{
    height: 100px;
    justify-content: start;
    padding-left: 10px;
}

header #asideNav{
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

header #asideNav a {
    color: #ebebeb;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

#menu {
    display: flex;
    justify-content: center;
    padding: 3em;
}


#menu a {
    text-decoration: none;
    color: black;
    display: flex;
    padding-left: 4em;
    padding-right: 4em;
}

#menu .menuBorder{
    border-right: dashed 1.5px lightgray;
}

#menu img {
    height: 4em;
}

#menu .menuTitle {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 0.5em;
}

/*Owl Carousel*/
.owl-carousel {
	position: relative;
	height: 100%;
}

form p{
    text-align: right;
}

.introvideo{
    width: 320px;
    height:240px;
}

ul.menu{
    list-style: none;
    display: inline-block;
}

form{
    width: 70%;
    min-width: 720px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #666666;
}

form label{
    font-size:25px;
}


form a{
    text-decoration: none;
    text-align: right;
}

input#typeSearching{
    width: 500px;
}

#footTop{
    background-color: #FF3000;
    height: 100px;
    display: flex;
    justify-content: center;
}

#footTop a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    color: #eff2f7;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.75em;
    padding-right: 1.75em;
}

#footMain{
    background-color: #282828;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footDropdown {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: small;
}

.footDropBtn1, .footDropBtn2, .footDropBtn3, .footDropBtn4 {
    color: #dddfe6;
    background-color: inherit;
    border: none;
    font-size: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
}

  
.footDropCont1, .footDropCont2, .footDropCont3, .footDropCont4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5%;
}
  
.footDropCont1 a, .footDropCont2 a, .footDropCont3 a, .footDropCont4 a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.footDropCont1 a:hover { background-color: #ddd; }
.footDropCont2 a:hover { background-color: #ddd; }
.footDropCont3 a:hover { background-color: #ddd; }
.footDropCont4 a:hover { background-color: #ddd; }

.footDropdown1:hover .footDropCont1, .footDropdown2:hover .footDropCont2, .footDropdown3:hover .footDropCont3, .footDropdown4:hover .footDropCont4 {
    display: block;
}

.footDropdown1:hover .footDropBtn1 { color: #f0000d; }
.footDropdown2:hover .footDropBtn2 { color: #f0000d; }
.footDropdown3:hover .footDropBtn3 { color: #f0000d; }
.footDropdown4:hover .footDropBtn4 { color: #f0000d; }


.socialMedia{
    color: white;
}

.appStore {
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
}

.appStore a {
    padding-left: 1em;
    padding-right: 1em;
}

.appStore img {
    width: 10em;
    height: auto;
}
