body {
    background-color: #FFFFFF; 
    color: #90C7E3;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 50%;
    background-color: skyblue;
    display: grid;
    column-gap: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: "logo aside-nav";
}

#logo{
    height: 100px;
    grid-area: "logo";
    float: left;
    padding-left: 5px;
}

#asideNav{
    margin-top: auto;
    margin-bottom: auto;
    grid-area: "aside-nav";
}

#asideNav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

.carousel {
    margin-bottom: 10rem;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}



form p{
    text-align: right;
}

.introvideo{
    width: 320px;
    height:240px;
}

form{
    width: 70%;
    min-width: 720px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #666666;
}

form label{
    font-size:25px;
}

form input{
    padding: 8px 300px;
    margin-bottom: 15px;
}

form a{
    text-decoration: none;
    text-align: right;
}

