/*Color Combination 
#f0000d - red, #eff2f7 - white, #d6bcaf - light brown, #957568 - brown, #5b453a - dark brown
https://colorpalettes.net/color-palette-862/
*/



body {
    background-color: #f4f5f9; 
}

header {
    width: 100%;
    height: 130px;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40%;
}

header a {
    margin-top: auto;
    margin-bottom: auto;
}

header a #logo{
    height: 100px;
    justify-content: start;
    padding-left: 10px;
}

header #asideNav{
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

header #asideNav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

/*Owl Carousel*/
#bookdocSlider .item img{
    display: block;
    width: 50%;
    height: auto;
}

form p{
    text-align: right;
}

.introvideo{
    width: 320px;
    height:240px;
}

ul.menu{
    list-style: none;
    display: inline-block;
}

form{
    width: 70%;
    min-width: 720px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #666666;
}

form label{
    font-size:25px;
}


form a{
    text-decoration: none;
    text-align: right;
}

input#typeSearching{
    width: 500px;
}

footer #footTop{
    background-color: #f0000d;
    height: 100px;
    display: flex;
    justify-content: center;
}

footer #footTop a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    color: #eff2f7;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.75em;
    padding-right: 1.75em;
}

footer #footMain{
    background-color: #5b453a;
}

/* The container <div> - needed to position the dropdown content */
 .footDropdown {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: small;
}

.footDropBtn1, .footDropBtn2, .footDropBtn3, .footDropBtn4 {
    color: #dddfe6;
    background-color: inherit;
    border: none;
    font-size: large;
    padding-left: 4em;
    padding-right: 4em;
}

  
/* Dropdown Content (Hidden by Default) */
.footDropCont1, .footDropCont2, .footDropCont3, .footDropCont4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5%;
}
  
/* Links inside the dropdown */
.footDropCont1 a, .footDropCont2 a, .footDropCont3 a, .footDropCont4 a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.footDropCont1 a:hover { background-color: #ddd; }
.footDropCont2 a:hover { background-color: #ddd; }
.footDropCont3 a:hover { background-color: #ddd; }
.footDropCont4 a:hover { background-color: #ddd; }

/* Show the dropdown menu on hover */
.footDropdown1:hover .footDropCont1 { display: block; }
.footDropdown2:hover .footDropCont2 { display: block; }
.footDropdown3:hover .footDropCont3 { display: block; }
.footDropdown4:hover .footDropCont4 { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.footDropdown1:hover .footDropBtn1 { color: #f0000d; }
.footDropdown2:hover .footDropBtn2 { color: #f0000d; }
.footDropdown3:hover .footDropBtn3 { color: #f0000d; }
.footDropdown4:hover .footDropBtn4 { color: #f0000d; }